---
---

<p>
  Hello! This blog template was created by <a
    href="https://alasdairb.com"
    target="_blank">Alasdair Brown</a
  >.
</p>
<p>
  Use this area to write all about yourself. Tell the world how awesome you are.
  Write things. Write stuff. Maybe don't write some thing? It's up to you! Can
  you tell that I'm just trying to fill this space by writing total nonsense?
  Because I am! I need to write just a little more to fill this paragraph.
  That's probably enough, right?
</p>
